/* You can add global styles to this file, and also import other style files */
body{

  font-family: 'Roboto Mono', monospace;

  padding: 0;
  margin: 0;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  background: linear-gradient(rgba(5, 0, 255, 0.15), rgba(112, 0, 255, 0.25));

}

img{
  width: 80px;
}

footer{
  background-color: #2E1D47;
  padding: 60px;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

}

footer p{
  font-weight: 700;
}




@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


