/* You can add global styles to this file, and also import other style files */
body{

  font-family: 'Roboto Mono', monospace;

  padding: 0;
  margin: 0;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  background: linear-gradient(rgba(5, 0, 255, 0.15), rgba(112, 0, 255, 0.15));

}

img{
  width: 80px;
}




@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}


