<body>
  <nav>
    <img src="" alt="git">
    <img src="" alt="linkedin">
  </nav>

  <main>
    <span id="descricao">
      <div id="circulo-perfil"></div>
      <div>
        <h1>Orleandro</h1>
        <h2>Desenvolvedor Full-stack</h2>
        <p>
          Olá, eu tenho 18 anos e estou cursando Ciência da computação e almejo<br><p id="descricao-centro">seguir a carreira na área de tecnologia.</p>
          Tenho familiaridade com os frameworks <strong>Angular</strong> e <strong>Spring Framework</strong>.
        </p>
      </div>
    </span>
  </main>

  <div id="habilidades">

    <h5 id="titulo-tecnologias">Tecnologias</h5>

    <div id="tecnologia">
        <div class="tecnologias">
          <img src="../../assets/git-icon.svg" width="50px" alt="">
          <p>Git</p>
        </div>
        <div class="tecnologias">
          <img src="../../assets/logo-javascript.svg" width="50px" alt="">
          <p>JavaScript</p>
        </div>
        <div class="tecnologias">
          <img src="../../assets/html-1.svg" width="50px" alt="">
          <p>HTML</p>
        </div>
        <div class="tecnologias">
          <img src="../../assets/css-3.svg" width="50px" alt="">
          <p>CSS</p>
        </div>
        <div class="tecnologias">
          <img src="../../assets/python-5.svg" width="50px" alt="">
          <p>Python</p>
        </div>
        <div class="tecnologias">
          <img src="../../assets/java-14.svg" width="50px" alt="">
          <p>Java</p>
        </div>
        <div class="tecnologias">
          <img src="../../assets/typescript-2.svg" width="50px" alt="">
          <p>TypeScript</p>
        </div>
    </div>

    <div id="framework">
      <div class="frameworks">
        <img src="" alt="">
        <p>Angular</p>
      </div>
      <div class="frameworks">
        <img src="" alt="">
        <p>Spring Framework</p>
      </div>
    </div>
  </div>


  <div id="carrossel">
    <img src="" alt="a">
    <img src="" alt="b">
    <img src="" alt="c">
  </div>


  <footer>
    <h3>Contato</h3>
    <img src="" alt="a">
    <img src="" alt="b">

    <p>orleandroat@gmail.com</p>
  </footer>

</body>
