<body>
  <nav>
    <div class="icon-box">
      <a href="https://github.com/Vornak" target="_blank"><img class="nav-icon" src="../../assets/github-142-svgrepo-com.svg" alt="git"></a>
      <div class="float-border"></div>
    </div>
    <div class="icon-box">
      <a target="_blank"><img class="nav-icon"  src="../../assets/49408 (1).png" alt="linkedin"></a>
      <div class="float-border"></div>
    </div>
  </nav>

  <main>
    <span id="descricao">
      <div id="circulo-perfil" ><img src="" alt=""></div>
      <div>
        <h1>Orleandro</h1>
        <div id="texto-decorado" class="texto-escrita">
          <h2 class="texto-animado">Desenvolvedor_</h2><h2 class="falha">Full-stack.</h2>
        </div>
        <p id="sobre">
          Olá, eu tenho 18 anos e estou cursando Ciência da computação e almejo<br><p id="sobre-centro">seguir a carreira na área de tecnologia.</p>
          Tenho familiaridade com os frameworks <strong>Angular</strong> e <strong>Spring Framework</strong>.
        </p>
      </div>
    </span>
  </main>

  <div id="titulos">
    <h5 id="titulo-tecnologias" class="falha">Tecnologias</h5>
    <h5 class="falha" class="falha-black" id="framework-titulo">Frameworks</h5>
  </div>


  <div id="habilidades">

      <div id="tecnologia">
        <div class="tecnologias" *ngFor="let tec of tecnologias">
          <img src="{{tec.icon}}" alt="icone-tecnologia">
          <p>{{tec.nome}}</p>
        </div>
      </div>

    <div id="separador"></div>

    <div id="framework">
      <div id="framework-div">
        <div class="frameworks">
          <img src="../../assets/angular-icon-1.svg" alt="" >
          <p>Angular</p>
        </div>
        <div class="frameworks">
          <img src="../../assets/spring-3.svg" alt="">
          <p>Spring Framework</p>
        </div>
      </div>
    </div>
  </div>



  <div id="projetos">
    <h5 class="falha-black">Projetos pessoais</h5>

    <div id="projetos-box-div">
      <div class="projeto-box" style="background-image: url({{projeto.icon}})" *ngFor="let projeto of projetos">
        <div class="info-projeto">
          <h3 class="projeto-nome"><a href="https://github.com/Vornak/angular-crud" target="_blank">{{projeto.nome}}</a></h3>
          <p class="projeto-sobre">{{projeto.sobre}}</p>
        </div>
      </div>
    </div>

  </div>


  <footer>
    <h3>Contato</h3>
    <div>
      <a href=""><img src="../../assets/wpp.svg" alt="a" width="50px" height="50px"></a>
    </div>


    <p>Email: orleandroat@gmail.com</p>
  </footer>
</body>
