:root {
  --darkblue: #264653;
  --yellow: #E9C46A;
  --lightgreen: #2A9D8F;
  --orange: #F4A261;
  --moreorange: #E76F51;
}


#circulo-perfil{
  width: 170px;
  height: 170px;
  margin: 0 30px 50px 20px;
  background-color: rgb(139, 139, 139);
  border-radius: 50%;
}

strong{
  margin: 0;
}

h1{
  margin: 0;
  font-size: 75px;
}

h2{
  margin: 0;
  font-size: 39px;
}

nav{
  background-color: purple;
}

#descricao{
  margin-left: 120px;
  margin-top: 210px;
  display: flex;
  align-items: center;
}

#descricao-centro{
  margin: 0;
  margin-left: 100px;
}

#tecnologia{
  width: 700px;
  margin: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  border-right: 2px solid gray;

}

.tecnologias{
  padding: 5px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

