:root {
  --darkblue: #264653;
  --yellow: #E9C46A;
  --lightgreen: #2A9D8F;
  --orange: #F4A261;
  --moreorange: #E76F51;

  --primary: #5E17EB;
}

.icon-box{
  display: flex;
  flex-direction: column;
  align-items: center;


  margin: 10px;
  padding: 5px;


}


.nav-icon{
  width: 30px;
}


.float-border{
  background-color: black;
  width: 27px;
  height: 5px;

  margin-top: 3px;

  border-radius: 20%;
}

nav{
  background-color: #5E17EB;

  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px;
}

#texto-decorado{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;

  height: 60px;
}

.falha{
  color: #5E17EB;
  font-weight: 600;

  animation: glitch 3s linear infinite;

}

.falha-black{
  color: black;
  font-weight: 600;

  animation: glitch 3s linear infinite;


  font-size: 30px;
}

#titulos{
  display: flex;
  justify-content: space-around;

}


@keyframes glitch {
  0%, 100% {
    text-shadow: -1px -1px 0 #00ffff, 1px 1px 0 #ff00ff;
  }

  25% {
    text-shadow: 1px 1px 0 #00ffff, -1px -1px 0 #ff00ff;
  }

  50% {
    text-shadow: 1px -1px 0 #00ffff, -1px 1px 0 #ff00ff;
  }

  75% {
    text-shadow: -1px 2px 0 #00ffff, 1px -1px 0 #ff00ff;
  }

  100% {
    text-shadow: -1px -1px 0 #00ffff, 1px 1px 0 #ff00ff;
  }
}

.texto-escrita {
  overflow: hidden;
  border-right: 7px solid whitesmoke;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .005em;

  animation:
    typing 3.5s steps(50, end),
    blink-caret .55s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: whitesmoke; }
}



#circulo-perfil{
  background-color: cadetblue;
  width: 10em;
  height: 10em;
  margin: 0 30px 50px 20px;
  border-radius: 50%;
}



strong{
  margin: 0;
}

h1{
  margin: 0;
  font-size: 75px;

  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.295)
}


h2{
  margin: 0;
  font-size: 39px;

  font-weight: 100;
}



#descricao{
  padding-left: 120px;
  padding-top: 210px;
  padding-bottom: 450px;
  display: flex;
  align-items: column;
}

#sobre{
  font-size: 15px;
}



#sobre-centro{
  margin: 0;
  margin-left: 100px;
}

#habilidades{
  display: flex;
  justify-content: space-between;
}



#separador{
  margin: 0;
  padding: 0;

  width: 2px;
  height: 300px;
  background-color: gray;
}

#habilidades{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 5rem 10rem 0 10rem;
}

#framework{
  display: flex;
  flex-direction: column;

  align-items: center;

}

#framework-div{
  display: flex;
  justify-content: start;
}

.frameworks{
  padding: 5px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tecnologia{
  width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

}

.tecnologias{
  padding: 5px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#titulo-tecnologias{
  font-size: 30px;
}


#projetos{

  margin: 10rem;
  width: 960px;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projeto-box{
  background-color: #5E17EB;
  border-radius:30px;

  width: 400px;
  height: 100px;
  margin: 20px;
  padding: 10px;

  -webkit-box-shadow: 0px 26px 53px 1px rgba(128,3,128,1);
  -moz-box-shadow: 0px 26px 53px 1px rgba(128,3,128,1);
  box-shadow: 0px 26px 53px 1px rgba(128,3,128,1);

}

.projeto-box:hover{

}
